description = "Esqueleto de la web"
==
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ this.page.title }}</title>
  <meta "description" content="{{ this.page.meta_description}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  
  {% styles %}
</head>
<body>

    {% partial 'header' %}
    
    {% page %}
    
    {% partial 'footer' %}
    
    {% scripts %}
</body>
</html>